body{
    font-family: 'Open Sans', sans-serif;
    width: 90%;
}
form{
    background-color: grey;
    margin-left: 60%;
}
footer{
    text-align: center;
    vertical-align: middle;
}
.cabeçalho{
    background-color: black;
}
.menu li{
    line-height: 25px;
    display:inline; 
    list-style-type: none; 
    color: white;
}
.menu li a{
    text-decoration: none;
    color: white;
}
#login{
    margin-left: 60%;
    text-decoration: none;
    color: black;
}